<include file="Index/_meta" />
<title>添加家庭成员 - 家庭成员管理 - H-ui.admin v2.4</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" method ="POST"  enctype="multipart/form-data" action="./admin.php?c=Folks&a=add">
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="name" name="name" onfocus="">
				</div>
		</div>
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						<input name="sex" value="0" type="radio" id="sex-1" checked>
						<label for="sex-1">男</label>
					</div>
					<div class="radio-box">
						<input type="radio" value="1" id="sex-2" name="sex">
						<label for="sex-2">女</label>
					</div>
				</div>
		</div>
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="telephone" name="telephone">
				</div>
		</div>
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">所在家庭：</label>
				<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
					<select class="select" size="1" name="depart_id">
						<option value="" selected>请选择家庭</option>
						 <volist name="departs" id="depart">
	                        <option value="{$depart.depart_id}">{$depart.name}</option>
	                     </volist>
					</select>
					</span> 
				</div>
		</div>
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>家庭身份：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="" id="position" name="position">
				</div>
		</div>
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>个人照片：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<span class="btn-upload form-group">
						  <input class="input-text upload-url radius" type="text" name="photo" id="photo" readonly><a href="javascript:void();" class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i> 浏览文件</a>
						  <input type="file" name="photo" class="input-file">
					</span>
				</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				 <input id="subLogin"  class="btn btn-primary radius" name ="subLogin" type="submit" value="提交" /></p><!--提交按钮-->
		    </div>
		    
	    </div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<include file="Index/_footer" />
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
 var SCOPE = {
        'save_url' : './admin.php?c=Folks&a=add',
        'jump_url' : './admin.php?c=Folks&a=index',
    }
    onfocus="userNameFocus()" onblur="userNameBlur()"
</script> 
</body>
</html>